<div class="container">
  <h2>All Courses</h2>
  <div class="mb-3">
    <a href="javascript:void(0);" (click)="add(Addcontent)" class="btn btn-success waves-effect waves-light"><i
        class="mdi mdi-plus me-2"></i> Add New</a>
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Marks</th>
        <th>Created Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of courses">
        <td>{{item.courseName}}</td>
        <td>{{item.marsk}}</td>
        <td>{{item.createdDate|date:'fullDate'}}</td>
        <td>{{item.isActive}} </td>
        <td>
          <button class="btn btn-info" (click)="Viewupdate(Updatecontent,item)" style="margin-right:20px">Update
          </button>
          <button class="btn btn-danger" (click)="remove(item)">Delete </button>
        </td>
      </tr>


    </tbody>
  </table>
</div>

<ng-template #Addcontent let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Add New Course </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
    </button>
  </div>
  <div class="modal-body" [formGroup]="Form">
    <div class="row">

      <div class="col-lg-10">
        <div class="mb-6 row">
          <label for="example-search-input" class="col-md-3 col-form-label">Course Name </label>
          <div class="col-md-6">
            <input class="form-control" type="search" formControlName="courseName" id="example-search-input">

          </div>
        </div>
        <br>
        <div class="mb-6 row">
          <label for="example-search-input" class="col-md-3 col-form-label">Marks </label>
          <div class="col-md-6">
            <input class="form-control" type="search" formControlName="marsk" id="example-search-input">

          </div>
        </div>

      </div>

      <div class="col-lg-12">
        <button style="float: right;margin-left: 5px;" (click)="submit()" type="submit" class="btn btn-primary me-1">
          Submit
        </button>
        <button style="float: right;" type="reset" class="btn btn-secondary">
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #Updatecontent let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Update Course </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
    </button>
  </div>
  <div class="modal-body" [formGroup]="Form">
    <div class="row">

      <div class="col-lg-10">
        <div class="mb-6 row">
          <label for="example-search-input" class="col-md-3 col-form-label">Course Name </label>
          <div class="col-md-6">
            <input class="form-control" type="search" formControlName="courseName" id="example-search-input">

          </div>
        </div>
        <br>
        <div class="mb-6 row">
          <label for="example-search-input" class="col-md-3 col-form-label">Marks </label>
          <div class="col-md-6">
            <input class="form-control" type="search" formControlName="marsk" id="example-search-input">

          </div>
        </div>

      </div>

      <div class="col-lg-12">
        <button style="float: right;margin-left: 5px;" (click)="updatechanges()" type="submit"
          class="btn btn-primary me-1">
          Save Changes
        </button>
        <button style="float: right;" type="reset" class="btn btn-secondary">
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>